/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin:0;
    padding:0;
}

p {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

img {
    max-width: 100%;
    height: auto;
}

blockquote {
    margin: 0;
    quotes: none; /* Elimina las comillas predeterminadas */
}

code, kbd, pre, samp {
    font-family: monospace;
}

input, button, textarea, select {
    font-family: inherit; /* Hereda la fuente del padre */
    font-size: inherit; /* Hereda el tamaño de fuente */
}

a {
    text-decoration: none;
    color: inherit; /* Hereda el color */
}

fieldset {
    border: none;
}

legend {
    display: none; /* Oculta el legend si no se usa */
}